@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    src: url(~src/styles/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 200;
    src: url(~src/styles/fonts/OpenSans-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(~src/styles/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url(~src/styles/fonts/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url(~src/styles/fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url(~src/styles/fonts/OpenSans-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(~src/styles/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url(~src/styles/fonts/OpenSans-BoldItalic.ttf) format('truetype');
}
